#top_categories{
    background-color: $bodycolor;
    padding: 50px 0px 40px;
    .item{
        display: flex;
        background-color: #fff;
        align-items: center;
        margin-bottom: 20px;
        ul {
            @include pfont(14px, 400, #666);
            li{
                margin-bottom: 10px;
            }
            .s_titel{
                @include pfont(16px, 600, #212121);
                margin-bottom: 20px;

            }
        }
    }
}